!!! 5
%html
  %head
    %title= "#{yield :title} - Lytro Ping Pong"
    = stylesheet_link_tag "reset", "bootstrap_and_overrides", "jquery.autocomplete", 'font-awesome'
    = stylesheet_link_tag "application"
    = yield :stylesheets

    = javascript_include_tag "global-bundle"
    = javascript_include_tag "http://use.typekit.com/rol0dzy.js"
    = javascript_tag "try{Typekit.load();}catch(e){}"
    = favicon_link_tag
    = csrf_meta_tag

  %body
    %header
      .logo-area
        = link_to image_tag("logo.png"), root_url
    #page
      %nav
        = link_to_with_current "Rankings", root_path
        = link_to_with_current "Matches", matches_path
        = link_to_with_current "Achievements", achievements_path
        = link_to_with_current "Stats", stats_path
        = link_to_with_current "What's New?", updates_path
        = link_to_with_current "Rules", rules_path

      = render 'shared/flash_messages'
      = yield
      %footer
        = link_to "source code", "https://github.com/anujbiyani/ping_pong_ladder"
